# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
picture.ppm
.vs/TheNextWeek/v16/Browse.VC.db
.vs/TheNextWeek/v16/Browse.VC.opendb
.vs/TheNextWeek/v16/ipch/AutoPCH/d913c3f87023108b/HITABLE_LIST.ipch
